<div id="<%= dom_id project %>">
   <div class="row">
  <div class="col-8">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div class="col-4">
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>
</div>

  <p>
    <strong>Link:</strong>
    <%= project %>
  </p>

</div>
