<p style="color: green"><%= notice %></p>

<h1>Projects</h1>
<p> Đây là trang chứa dự án </p>

<div id="projects" class="container card">
  <% @projects.each do |project| %>
      <h5><%=project.title%></h5>
      <span>Link:<%= link_to project.link %><span>
     <div><%= project.body  %></div>
     <div><%= link_to "Show this project", project ,class:"btn btn-primary"  if current_user&.admin?  %></div>
  <% end %>
</div>


