<div class="container card">
  <h1>Chào mừng đến với ZuesBlog!!!</h1>
  <img src="https://d32myzxfxyl12w.cloudfront.net/images/blog_images/be602627973000d99f6ba9a43aba117b82aa5e26.jpg?1649061518" alt="" />
 
</div>


<% if current_user %>
  <div class="container card mt-4">
    <div class="card-actions mb-3">
    <%= link_to "Xem profile", user_path(current_user),class:"btn btn-primary" %>
  </div>
    <h3><%= current_user.full_name %></h3>
    <div class="d-flex">
   <div><%= image_tag(current_user.avatar, style:"width:150px; height: 150px; border-radius:100%") if current_user.avatar.attached? %></div>
    <ul>
      <li>Email: <%= current_user.email %></li>
      <li>Xã/phường: <%= current_user.address.street.titleize %></li>
      <li>Quận/huyện: <%= current_user.address.city.titleize %></li>
      <li>Tỉnh/thành phố: <%= current_user.address.state.titleize %></li>
      <li>Mã bưu chính: <%= current_user.address.zip %></li>
      <li>Quốc gia: <%= current_user.address.country.titleize %></li>
    </ul>
    </div>
  </div>
<% end %>
 <div class="container mtcard">
  <h3>Mọi thắc mắc xin liên hệ với admin Zues qua:</h3>
 <h3>Email:<span class="text-danger"> adminz@gmail.com </span></h3>
  <h3>SDT:<span class="text-danger"> 0909090909</span></h3>
 
</div>