<div id="<%= dom_id post %>">
<div class="card">
    <table class="table table-light table-striped border">
    <thead>
      <tr>
        <th scope="col">Id</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td> <%= button_to "Delete", @user,method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger m-1" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2><%= post.title %></h2>
      <h6>posted by <%= link_to post.user.full_name, user_path(post.user) %></h6>
      <h6><%= pluralize(post.views, "view") %></h6>
  <div>
    <%= @post.body %>
  </div>
  </div>
</div>
