
<div class="container">
<div>
<%= render @post %>


<div class="d-flex " >
  <%= link_to "Chỉnh sửa", edit_post_path(@post),class:"btn  btn-warning m-2" if current_user==post.user.full_name? %> 
  <%= link_to "Trở lại", posts_path ,class:"btn btn-primary m-2"%>
  <%= button_to "Xóa bài viết", @post, method: :delete ,class:"btn btn btn-danger m-2"%>
</div>
</div>
<div class="container">
  <%= render 'comments/form', post: @post, comment: @post.comments.build , submit_label: "Bình luận"  %>
  <% @comments.each do |comment|%>
    <%= render 'comments/comment', post: @post,comment: comment %>
  <% end %>
</div>
